body {
    background-color: rgb(151, 138, 138);
    color: rgb(90, 83, 83);
    font-size: larger;
    margin: 50px;
    text-align: center;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

form {
    text-align: center;
}